
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #0b0c10;
  color: #e2e8f0;
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar pour le look Studio */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0b0c10; 
}

::-webkit-scrollbar-thumb {
  background: #1f2937; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #374151; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
